<mat-tab-group>
  <mat-tab label="Unterhaltungen"> <app-dashboard></app-dashboard></mat-tab>
  <mat-tab label="Intents"><mat-spinner *ngIf="codeNLU == null"></mat-spinner> <app-monaco-editor *ngIf="codeNLU != null" file="nlu" [code]="codeNLU"></app-monaco-editor> </mat-tab>
  <mat-tab label="Stories"><mat-spinner *ngIf="codeStories == null"></mat-spinner> <app-monaco-editor *ngIf="codeNLU != null" file="stories" [code]="codeStories"></app-monaco-editor> </mat-tab>
  <mat-tab label="Rules"> <mat-spinner *ngIf="codeRules == null"></mat-spinner> <app-monaco-editor *ngIf="codeNLU != null" file="rules" [code]="codeRules"></app-monaco-editor> </mat-tab>
  <mat-tab label="Domain"><mat-spinner *ngIf="codeDomain == null"></mat-spinner> <app-monaco-editor *ngIf="codeNLU != null" file="domain" [code]="codeDomain"></app-monaco-editor> </mat-tab>
</mat-tab-group>
