#leon {
  margin: 1%;
  width: -webkit-fit-content;
  width: fit-content;
}

#leon h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 44px;
  float: right;
  padding: 18px 0 0 18px;
  margin: 0;
}

#leon img {
}
