<mat-form-field appearance="fill">
  <mat-label>Datumspicker</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate matInput placeholder="Start date" (dateChange)="onChangeStart($event)">
    <input matEndDate matInput placeholder="End date" (dateChange)="onChangeEnd($event)">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
<app-conversation-item [id]="id" *ngFor="let id of messID">

</app-conversation-item>

