<div class="main-div">
  <mat-card>
    <mat-card-title>Sign In:</mat-card-title>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()">
      <mat-form-field class="" appearance="fill">
        <mat-label>Username:</mat-label>
        <input [(ngModel)]="userName" formControlName="username" required matInput placeholder="Username"
               autocomplete="username">
      </mat-form-field>
      <br>
      <mat-form-field class="" appearance="fill">
        <mat-label>Password:</mat-label>
        <input [(ngModel)]="password" matInput formControlName="password" placeholder="Password" type="password"
               autocomplete="password">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" type="submit">Einloggen</button>
    </form>
  </mat-card>
</div>
