form {
  margin: auto;
}

mat-card {
  padding: 2%;
  width: 50%;
}

.main-div {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-content {
  justify-content: center;
  align-items: center;
}
